<?php
declare(strict_types=1);

return [
    'app' => [
        'cache_dir' => './cache',
        'config_cache_enabled' => true, // enable on production
        'router_cache_file-selami-example-app' => './cache/fastroute.selami-example-app.cache'
    ],
];
