<?php
declare(strict_types=1);

return [
    'view' => [
        'type' => 'twig',
        'templates_path' =>  './templates',
        'template_file_extension' => 'twig',
        'twig' => [
            'debug' => false, // disable on production
            'strict_variables' => false, // disable on production
            'autoescape' => 'html',
            'cache' => './cache/twig', // change to a valid file path to enable caching  on production
            'auto_reload' => false, // disable on production
            'optimizations' => -1 // change to -1 on production
        ],
    ]
];
